/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

html, body {
  color: crimson;
  background-color: #21232A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 10px;
}

.container {
  display: grid;
  justify-content: center;
}

h2 {
  padding-left: 90px;
}

#hAdd {
  padding-left: 9px;
  padding-right: 9px;
}

#hReset {
  padding-left: 30px;
  padding-right: 30px;
}

#hSubtract {
  padding-left: 9px;
  padding-right: 9px;
}

button {
  font-size: 1.1rem;
  margin-right: 5px;
  padding:  7px;
}
